/* the title section */
@media only screen and (max-width :990px){
    .title{
        text-align: left;
        background-color: #353434;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        margin: 0;
        width: 100%;
    }
    .about-me{
        top: 30px;
    }
    .about-me>.container{
        width: 90%;
    }

    .btn-nav-mini{
        background:none;
        position: fixed;
        top: 2px;
        right: 2px;
        padding: 18px;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 20;
        transition:all 0.5s;
        display: block;
    }
    .btn-nav-mini>i{
        color: #fff;
        font-size: 28px;
    }
    #close-nav{
        display: none;
    }
    .my-nav-mini{
        display: block;
        background-color: #353434;
        color: #fff;
        width: 0;
        height: 100%;
        position: fixed;
        z-index: 11;
        left: 0;
        overflow-x: hidden;
        transition: 0.6s;
    }
    .my-nav-mini>ul{
        margin: 100px 0 0 60px;
    }
    .my-nav-mini>ul>li{
        list-style: none;
        letter-spacing: 1.5px;
        margin-bottom: 30px;
        font-size: 25px;
    }
    .my-nav-mini>ul>li:after{
        position: absolute;
        content: '';
        height: 1px;
        width: calc(100% - 60px);
        background: #333;
        left: 30px;
        margin-top: 50px;
    }
    .my-nav-mini>ul>li>i>a{
        margin-left: 40px;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 30px;
        color: #fff;
        font-family: cursive;
    }
    .my-nav-mini>ul>li.activ{
        color: #ffb400;
    }
}
   
/* End the title section */

/* my-img */
.my-img{
    display: block;
}
.my-img>img{
    border-radius: 50%;
    width: 200px;
    margin-top: 75px;
    margin-left: 130px;
}
/* End my-img */


/* personal info section */

@media only screen and (max-width :990px){
    
    .About-personal-info{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }  
    
    .pers-info-text{
        width: 100%;
    }
    .pers-info-number{
        width: 100%;
        margin-top: 100px;
    }
    .pers-info-text>div>ul>li{
        margin-bottom: 10px;
    }
    .pers-info-text>div>ul>li>span {
        display: block;
    }
    .pers-info-text>div>ul>li {
        font-size: 17px;
        line-height: 1.2;
    }
    .about-me>.container>button{
        top: 310px;
        left: 10px;
    }
    .pers-info-number-content>div {
        padding: 24px 19px 25px 20px;
        border-radius: 5px;
        border: 1px solid #252525;
        width: 100%;
        height: 140px;
        margin: 0 25px 20px 0;
        color: #fff;
    }
    .pers-info-number-content.left {
        margin-left: -39px;
        margin-right: 20px;
    }
    
}
/* personal info section */



/* my skills section */

@media only screen and (max-width: 990px) {
    .skill-content{
        display: grid;
        grid-template-columns: 66% 40%;
        margin-bottom: 0;
    } 
    
    .my-skills .skill-title>h2 {
        text-align: start;
    }

    .sirc-right,.sirc-left{
        margin-bottom: 150px;
    }
    .title>h1 {
        font-size: 34px;
        
    }
    
}

/* End my skills section */

/* education section */
@media only screen and (max-width: 990px) {
    .education-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }
}

/* End education section */

/* nav in sides */


@media only screen and (max-width: 990px) {
    .my-nav{
        display: none;
    } 
    
    .change-color{
        display: none;
    }
}

/* nav in sides */
