/* @import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;800&display=swap"); */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    position: relative;
}

.port{
  background-color: black;  
}

.title{
    padding: 20px 0;
    text-align: center;
}
.title>h1{
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}
.title>h1>span{
    color: #ffb400;
}
.container{
    width: 70%;
    margin: auto;
}
.img-content{
    display: flex;
    justify-content: space-between;
}
.img-bord{
    width: 340px;
    height: 240px;
    margin-bottom: 20px;
}
.img-bord>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img-bord::before{
    content: "website name";
    width: 340px;
    /* height: 240px; */
    position: absolute;
    background-color: rgba(255, 180, 0, 0.9);
    transition: all 0.7s ease;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 103px 0;
}

.img-bord:hover.img-bord::before{
    opacity: 1;
    visibility: visible;
}


/* section over port  */
.over-port{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    z-index: 11;
}
.over-port-container{
    position: relative;
}
.my-slids{
    /* position: absolute; */
    width: 45%;
    padding: 40px;
    background-color: rgb(39, 38, 38);
    border-radius: 10px;
    margin: 5% 0 0 26%;
    transition: all 1.5s;
    position: absolute;
   
}

.top-slide{
    display: flex;
    justify-content: space-between;
    width: 106%;
    margin-left: 17px;

}

.buttom-slide{
    width: 100%;
    height: 400px;
    
}
.buttom-slide>img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.my-slids>h2{
    text-transform: uppercase;
    padding: 10px 0 20px;
    font-weight: 700;
    text-align: center;
    font-size: 33px;
    color: #ffb400;
}
.top-slide>ul>li{
    line-height: 2;
    list-style: none;
    color: #fff;
}

.top-slide>ul>li>a{
    text-decoration: none;
    color: #ffb400;
}

span.close-cursor {
    right: 35px;
    position: absolute;
    color: #fff;
    font-size: 70px;
    cursor: pointer;
    z-index: 10;
}

.over-port>i{
    position: absolute;
    color: #fff;
    font-size: 70px;
    cursor: pointer;
    right: 35px;
    top: 47%;
}
.fa-angle-left{
    left: 35px;
}


/* .hezn{
    position: absolute;
    width: 340px;
    height: 240px;
    background-color: rgba(255, 180, 0, 0.8);
    border-radius: 10px;
    transition: all 0.5s ease;
} */

/* section over port  */

/* section my nav */
.my-nav{
    position: absolute;
    top: 200px;
    right: 20px;
    position: fixed;
}
.my-nav>ul>li{
    margin-bottom: 45px; 
    position: relative;
    list-style: none;
    padding-left: 150px;
    cursor: pointer;
}

.my-nav>ul>li>a{
    color: #fff;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    border-radius: 50%;
    background-color: #343a40;
    padding: 15px;
    font-size: 20px;
    transition: all 0.5s;
}

.my-nav>ul>li:hover a{
    background-color: #ffb400;
    color: #fff;
}


.my-nav>ul>li>a.activ{
    background-color: #ffb400;
}
.my-nav>ul>li>h2{
    background-color: #ffb400;
    padding: 27px 27px 27px 10px;
    width: 0px;
    border-radius: 40px;
    color: #fff;
    font-size: 17px;
    position: absolute;
    top: -16px;
    right: 0;
    left: 100px;
    bottom: 75px;
    z-index: -1;
    list-style: none;
    text-decoration: none;
    line-height: 0px;
    /* transition: visibility 0.4s, opacity 0.4s ,width 0.4s,left 0.4s; */
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
}
.my-nav>ul>li:hover h2{  
    opacity: 1;
    visibility: visible;
    width: 150px;
    left: 50px;
}
/* End section my nav */

/* change color */
.box{
    position: relative;
}

.change-color{
    position: fixed;
    width: 65px;
    height: 60px;
    background-color: white;
    color: black;
    top: 40%;
    z-index: 10;
    border-radius: 0px 7px 7px 0;
    cursor: pointer;
    transition: all 0.5s;
}
.change-color>i{
    font-size: 25px;
    animation: spin 3s linear infinite;
    margin: 18px 0 0 18px;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.box-color{
    background-color: white;
    width: 230px;
    height: 230px;
    position: fixed;
    top: 30%;
    z-index: 10;
    border-radius: 0px 5px 5px 0px;
    margin-left: -500px;
    transition: all 0.5s;
}
.box-color-title{
    padding: 5px 0 5px 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box-color-title>span{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    padding: 8px 5px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 0px 0px 10px;
}
.box-color-title>span>i{
    font-size: 25px;
    color: darkgray;
    cursor: pointer;
    margin-left: 50px;
}
.box-color-content>ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.box-color-content>ul>li{
    list-style: none;
    font-size: 30px;
    cursor: pointer;
}
.box-color>button{
    border-radius: 26px;
    font-weight: 600;
    height: 46px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    width: 170px;
    outline: none;
    background-color: rgb(130, 180, 64);;
    letter-spacing: .5px;
    border: 0;
    cursor: pointer;
    margin-left: 25px;
}

/* End change color */

.btn-nav-mini{
    display: none;
}

.my-nav-mini{
    display: none;
}

/* classes to change icon */
.box-color-content>ul:first-child>li:first-child{color: purple;}
.box-color-content>ul:first-child>li:nth-child(2){color: red;}
.box-color-content>ul:first-child>li:nth-child(3){color: blueviolet;}
.box-color-content>ul:first-child>li:nth-child(4){color: blue;}
.box-color-content>ul:first-child>li:nth-child(5){color: goldenrod;} 


.box-color-content>ul:last-child>li:first-child{color: magenta;}
.box-color-content>ul:last-child>li:nth-child(2){color: yellowgreen;}
.box-color-content>ul:last-child>li:nth-child(3){color: orange;}
.box-color-content>ul:last-child>li:nth-child(4){color: green;}
.box-color-content>ul:last-child>li:nth-child(5){color: yellow;} 



.purple>.port>.title>h1>span{color: purple;}
.purple>.port>.container>.img-content>.img-bord::before{background-color: purple;}
.purple>.over-port>.over-port-container>.my-slids>h2{color: purple;}
.purple>.over-port>.over-port-container>.my-slids>.top-slide>.top-slide>ul>li>a{color: purple;}
.purple>.port>.my-nav>ul>li:hover a{background-color: purple;}
.purple>.port>.my-nav>ul>li>a.activ{background-color: purple;}
.purple>.port>.my-nav>ul>li>h2{background-color: purple;}


.red>.port>.title>h1>span{color: red;}
.red>.port>.container>.img-content>.img-bord::before{background-color: red;}
.red>.over-port>.over-port-container>.my-slids>h2{color: red;}
.red>.over-port>.over-port-container>.my-slids>.top-slide>.top-slide>ul>li>a{color: red;}
.red>.port>.my-nav>ul>li:hover a{background-color: red;}
.red>.port>.my-nav>ul>li>a.activ{background-color: red;}
.red>.port>.my-nav>ul>li>h2{background-color: red;}


.blueviolet>.port>.title>h1>span{color: blueviolet;}
.blueviolet>.port>.container>.img-content>.img-bord::before{background-color: blueviolet;}
.blueviolet>.over-port>.over-port-container>.my-slids>h2{color: blueviolet;}
.blueviolet>.over-port>.over-port-container>.my-slids>.top-slide>.top-slide>ul>li>a{color: blueviolet;}
.blueviolet>.port>.my-nav>ul>li:hover a{background-color: blueviolet;}
.blueviolet>.port>.my-nav>ul>li>a.activ{background-color: blueviolet;}
.blueviolet>.port>.my-nav>ul>li>h2{background-color: blueviolet;}

.blue>.port>.title>h1>span{color: blue;}
.blue>.port>.container>.img-content>.img-bord::before{background-color: blue;}
.blue>.over-port>.over-port-container>.my-slids>h2{color: blue;}
.blue>.over-port>.over-port-container>.my-slids>.top-slide>.top-slide>ul>li>a{color: blue;}
.blue>.port>.my-nav>ul>li:hover a{background-color: blue;}
.blue>.port>.my-nav>ul>li>a.activ{background-color: blue;}
.blue>.port>.my-nav>ul>li>h2{background-color: blue;}

.goldenrod>.port>.title>h1>span{color: goldenrod;}
.goldenrod>.port>.container>.img-content>.img-bord::before{background-color: goldenrod;}
.goldenrod>.over-port>.over-port-container>.my-slids>h2{color: goldenrod;}
.goldenrod>.over-port>.over-port-container>.my-slids>.top-slide>.top-slide>ul>li>a{color: goldenrod;}
.goldenrod>.port>.my-nav>ul>li:hover a{background-color: goldenrod;}
.goldenrod>.port>.my-nav>ul>li>a.activ{background-color: goldenrod;}
.goldenrod>.port>.my-nav>ul>li>h2{background-color: goldenrod;}

.magenta>.port>.title>h1>span{color: magenta;}
.magenta>.port>.container>.img-content>.img-bord::before{background-color: magenta;}
.magenta>.over-port>.over-port-container>.my-slids>h2{color: magenta;}
.magenta>.over-port>.over-port-container>.my-slids>.top-slide>.top-slide>ul>li>a{color: magenta;}
.magenta>.port>.my-nav>ul>li:hover a{background-color: magenta;}
.magenta>.port>.my-nav>ul>li>a.activ{background-color: magenta;}
.magenta>.port>.my-nav>ul>li>h2{background-color: magenta;}

.yellowgreen>.port>.title>h1>span{color: yellowgreen;}
.yellowgreen>.port>.container>.img-content>.img-bord::before{background-color: yellowgreen;}
.yellowgreen>.over-port>.over-port-container>.my-slids>h2{color: yellowgreen;}
.yellowgreen>.over-port>.over-port-container>.my-slids>.top-slide>.top-slide>ul>li>a{color: yellowgreen;}
.yellowgreen>.port>.my-nav>ul>li:hover a{background-color: yellowgreen;}
.yellowgreen>.port>.my-nav>ul>li>a.activ{background-color: yellowgreen;}
.yellowgreen>.port>.my-nav>ul>li>h2{background-color: yellowgreen;}

.orange>.port>.title>h1>span{color: orange;}
.orange>.port>.container>.img-content>.img-bord::before{background-color: orange;}
.orange>.over-port>.over-port-container>.my-slids>h2{color: orange;}
.orange>.over-port>.over-port-container>.my-slids>.top-slide>.top-slide>ul>li>a{color: orange;}
.orange>.port>.my-nav>ul>li:hover a{background-color: orange;}
.orange>.port>.my-nav>ul>li>a.activ{background-color: orange;}
.orange>.port>.my-nav>ul>li>h2{background-color: orange;}

.green>.port>.title>h1>span{color: green;}
.green>.port>.container>.img-content>.img-bord::before{background-color: green;}
.green>.over-port>.over-port-container>.my-slids>h2{color: green;}
.green>.over-port>.over-port-container>.my-slids>.top-slide>.top-slide>ul>li>a{color: green;}
.green>.port>.my-nav>ul>li:hover a{background-color: green;}
.green>.port>.my-nav>ul>li>a.activ{background-color: green;}
.green>.port>.my-nav>ul>li>h2{background-color: green;}

.yellow>.port>.title>h1>span{color: yellow;}
.yellow>.port>.container>.img-content>.img-bord::before{background-color: yellow;}
.yellow>.over-port>.over-port-container>.my-slids>h2{color: yellow;}
.yellow>.over-port>.over-port-container>.my-slids>.top-slide>.top-slide>ul>li>a{color: yellow;}
.yellow>.port>.my-nav>ul>li:hover a{background-color: yellow;}
.yellow>.port>.my-nav>ul>li>a.activ{background-color: yellow;}
.yellow>.port>.my-nav>ul>li>h2{background-color: yellow;}
